# Node
**/node_modules/
**/.next/
**/.env

# Python
python/.venv/
python/__pycache__/
python/.env

# Environment
.env

.keys/
node_modules/
.coverage/
coverage/
!docs/

# Package manager lock files
# set the env to not use any lockfiles for the time being we may use one later for now we must not
pnpm-lock.yaml
package-lock.json
npm-shrinkwrap.json
yarn.lock
agent-framework/node_modules/
src/types/dev/anterior-conversation.txt
src/types/dev/Archive.zip

dist/
lib/
!src/lib
!**/web/src/lib

.codex/sessions/**
.codex/log/**
history.jsonl

