{
  "printWidth": 80,
  "proseWrap": "preserve",
  "endOfLine": "lf",
  "singleQuote": true,
  "trailingComma": "es5",
  "insertPragma": false,
  "requirePragma": false,
  "tabWidth": 2,
  "useTabs": false,
  "quoteProps": "consistent",
  "jsxSingleQuote": false,
  "arrowParens": "avoid",
  "bracketSameLine": false,
  "bracketSpacing": true,
  "embeddedLanguageFormatting": "auto",
  "htmlWhitespaceSensitivity": "css",
  "semi": true,
  "overrides": [
    {
      "files": "**/*.{json,jsonc}",
      "options": {
        "singleQuote": false,
        "semi": false,
        "trailingComma": "none",
        "printWidth": 80,
        "tabWidth": 2,
        "useTabs": false,
        "quoteProps": "as-needed",
        "bracketSpacing": true,
        "arrowParens": "avoid",
        "rangeStart": 0,
        "rangeEnd": 2147483647
      }
    }
  ],
  "plugins": [
    "prettier-plugin-organize-attributes",
    "prettier-plugin-packagejson",
    "prettier-plugin-sh"
  ]
}
